{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel card-recipes center-align">
            <h4 class="register-message">Hi, {{ username|capitalize }}!</h4>
            <h5>We're extremely happy that you've decided to join our community of food enthusiasts.</h5>
            <br>
            <hr class="divider red">
            <h5>Unleash your inner chef and discover delicious recipes tailored to your dietary needs and cooking
                skills.</h5>
            <h5>Ready to explore our tasty recipes?</h4>
                <br>
                <a class="btn-large black darken-4 text-shadow waves-effect center"
                    href="{{ url_for('get_recipes') }}">Search here</a>
        </div>
    </div>
</div>

{% endblock %}