{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col s12">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="static/images/slider-image-11.jpg">
        </li>
        <li>
          <img src="static/images/slider-image-12.jpg">
        </li>
        <li>
          <img src="static/images/slider-image-13.jpg">
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="caption center-align">
      <h4 class="red-text text-darken 4">Unleash your inner chef!</h4>
      <h5 class="black-text">Find mouthwatering recipes <br> for every dietary need.</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4 class="red-text text-darken 4 center-align">Browse all recipies</h4>
  </div>
</div>
<!-- recipies cards -->
{% for recipe in recipes %}
<ul class="collapsible card-recipies">
  <li>
    <div class="collapsible-header s12 white-text red darken-4 text-shadow">
      <i class="fas fa-utensils"></i><span class="materialize-text mb-0">
        <strong>{{ recipe.recipe_name }}<i class="fas fa-chevron-down drop_down_arrow"></i></strong>
      </span>
    </div>

    <!-- Description -->
    <div class="collapsible-body">
      <strong>{{ recipe.cuisine_name }} | {{ recipe.category_name }} | {{recipe.calories }} calories </strong>
      <hr class="divider red">
      <p>{{ recipe.recipe_description }}</p>
      <hr class="divider red">
      <p><i class="fas fa-clock"></i> Preparation time: {{ recipe.preperation_time|capitalize }} minutes</p>
      <p><i class="fas fa-users"></i> Serves: {{ recipe.serves|capitalize }} people</p>
      {% if recipe.is_vegan == "true" %}
      <i class="fas fa-leaf"></i> Suitable for vegans.
      {% else %}
      <i class="fas fa-exclamation-circle"></i> Not suitable for vegans.
      {% endif %}
      <hr class="divider red">
      <p><em>This recipe was created by {{ recipe.created_by }}.</em></p>
    </div>
    </li>

    <!-- Ingredients -->
  <li>
    <div class="collapsible-header">
      <i class="fas fa-shopping-basket"></i> Ingredients
      <i class="fas fa-chevron-down drop_down_arrow"></i>
    </div>
    <div class="collapsible-body">
      <ul>
        {% for ingredient in recipe.recipe_ingredients.splitlines() %}
        <li>
          - {{ ingredient | capitalize }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </li>

  <!-- Instructions -->
  <li>
    <div class="collapsible-header">
      <i class="fas fa-book-open"></i> Instructions
      <i class="fas fa-chevron-down drop_down_arrow"></i>
    </div>
    <div class="collapsible-body">
      <ol class="ol-instructions">
        {% for instructions in recipe.recipe_instructions.splitlines() %}
        <li>
          {{ instructions | capitalize }}
        </li>
        {% endfor %}
      </ol>
    </div>
  </li>
</ul>

  {% endfor %}


{% endblock %}